---
archive_id: shamokaldarpon-3191
source: shamokaldarpon
source_name: সমকাল দর্পণ
wordpress_id: 3191
title: ড্রপবক্সে ২-স্টেপ ভেরিফিকেশন সক্রিয় করা
slug: dropbox-two-step-verification
language: bn
status: publish
published_at: '2012-08-27T09:14:16'
published_at_gmt: '2012-08-27T03:14:16'
modified_at: '2012-10-12T22:14:33'
modified_at_gmt: '2012-10-12T16:14:33'
original_url: https://www.shamokaldarpon.com/3191/dropbox-two-step-verification
author: মেহেদী আকরাম
categories:
- হ্যাকিং / নিরাপত্তা
tags:
- 2-Step
- ২-ফ্যাক্টর
- ২-স্টেপ
- code
- dropbox
- Password
- Security
- Two-Factor
- Verification
- কোড
- গুগল
- ড্রপবক্স
- পাসওয়ার্ড
- ভেরিফিকেশন
content_hash: 85792fc8d00418a894f5adf3109830baae39ddfb6829faf5ee682ab680bf504c
archived_at: '2026-11-12T08:35:08.175816+00:00'
---

অনলাইনে তথ্য সংরক্ষণের জনপ্রিয় সাইট হচ্ছে [ড্রপবক্স](http://www.shamokaldarpon.com/tag/dropbox)। নিরাপত্তার কথা মাথায় রেখে ড্রাপবক্স লগইনের ৰেত্রে [২-স্টেপ](http://www.shamokaldarpon.com/tag/2-step) ভেরিফিকেশন সুবিধা দিয়েছে ফলে পাসওয়ার্ড চুরি হয়ে গেলেও কেউ ড্রপবক্সে লগইন করতে পারবে না। এটা অনেকটা গুগলের ২-স্টেপ ভেরিফিকেশনের মতই।  
![dropbox](http://farm9.staticflickr.com/8437/7870933040_34213aa5a3_z.jpg)  
> ২-স্টেপ ভেরিফিকেশন সক্রিয় করতে ড্রপবক্সে লগইন করে ডানে ইউজার নামের উপরে ক্লিক করে Settings এ ক্লিক করুন এবং Security ট্যাবে ক্লিক করুন। অথবা সরাসরি [www.dropbox.com/account/security](http://www.dropbox.com/account/security) ঠিকানায় যেতে পারেন।  
> এবার নিচের Account sign in অংশের [Two-step](http://www.shamokaldarpon.com/tag/2-step) verification এ Disabled (change) লিংকে ক্লিক করুন।  
> পপআপ উইন্ডো থেকে Get started বাটনে ক্লিক করুন এবং পাসওয়ার্ড দিয়ে Next বাটনে ক্লিক করুন।  
> এরপরে Use text messages চেক রেখে Next বাটনে ক্লিক করুন।  
> এখন দেশ নির্বাচন করে মোবাইল নম্বর লিখে Next বাটনে ক্লিক করুন তাহলে মোবাইলে ৬ ডিজিটের কোড আসবে। (বর্তমানে গ্রামীনফোন, বাংলালিংক, এয়ারটেল সমর্থন করে)  
> এবার কোড লিখে Next বাটনে ক্লিক করলে ১৬ ডিজিটের একটি ব্যাকআপ কোড দিয়ে যার দ্বারা মোবাইল না থাকলেও ড্রপবক্সে লগইন করা যাবে। এখন Enable two-step verification বাটনে ক্লিক করে Done করলেই হবে।  
ড্রপবক্সে লগইন করতে হলে ইউজার-পাসওয়ার্ড দেবার পরে মোবাইলে কোড আসবে, মোবাইলে প্রাপ্ত কোড লিখে Submit code বাটনে ক্লিক করলেই হবে। তবে Trust this computer চেক করলে পরবর্তিতে উক্ত পিসিতে আর কেডের প্রয়োজন হবে না।  
আর যদি নেটওয়ার্ক বা অন্য কোন কারণে কোড না আসে তাহলে I lost my phone এ ক্লিক করে ১৬ ডিজিটের একটি ব্যাকআপ কোডের সাহায্যে লগইন করা যাবে।

২-স্টেপ ভেরিফিকেশন ডিজেবল করতে চাইলে www.dropbox.com/account/security ঠিকানায় গিয়ে Account sign in অংশের Two-step verification এ Enabled (change) লিংকে ক্লিক করুন পাসওয়ার্ড দিয়ে Next করে Disable two-step verification বাটনে ক্লিক করলেই হবে।

গুগলে ২-স্টেপ ভেরিফিকেশন সক্রিয় করা পদ্ধতি পাবেন [www.shamokaldarpon.com/?p=2676](http://www.shamokaldarpon.com/?p=2676) এখানে।
